body{
    font-family: sans-serif;
}
header{
    background-color: #0A0048;
    color: white;
}
h1 img {
    width: 200px;
    height: 100px;
    margin-left: 200px;
    border-radius:30px;
}
.ice cream{
    margin-bottom: 200px;
}
img {
    height: 250px;
    border-radius: 50px;
}
